#about-us{
	background: #f76d2b;
	padding: 75px 15px 70px;
}
.contact{
	background: #f5f5f5;
	padding: 20px 0;
}
.b-welcome__text{
	color: #fff;
}
.b-welcome__text h5 {
    font: 400 14px 'Open Sans',sans-serif;
    padding: 0 10px;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    display: inline-block;
}
.b-welcome__text h4 {
    font: 700 30px 'Open Sans',sans-serif;
    margin: 0 0 30px;
}
.b-welcome__text p {
    font: 300 13px 'Open Sans',sans-serif;
    margin: 0 0 25px;
}
.b-welcome__text ul li{
	font-size: 18px;
}
.m-padding{
	padding: 0 10px;

}
.b-welcome__services-auto{
	padding: 35px 0;
    text-align: center;
    background: #fff;
}
.b-welcome__services-img:hover{
	background: #f76d3b;
	color: white;
}

.b-welcome__services-auto h3 {
    font: 600 14px 'Open Sans',sans-serif;
    text-transform: uppercase;
    margin: 20px 0 0;
    text-align: center;
    color: #777;
}
.b-welcome__services-img {
    height: 90px;
    width: 90px;
    border: 2px solid #efefef;
    border-radius: 100%;
    position: relative;
}
.b-welcome__services-img .fa {
    font-size: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
}
.b-welcome__services-circle {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: -18px 0;
    border: 10px solid #f76d2b;
    position: relative;
    z-index: 1000;
    padding: 7px;
}
.text-about-us h3{
	font-size: 15px;
}
.text-about-us{
}
.text-about-us li{
	font-size: 14px;
	padding: 5px 0;
	color: #333;
}