.nav-pills li a{
	padding: 4px 16px;
	background-color: #dedede;
	color: black;
}
.nav-pills li a:hover{
	background-color: white;
	color: #f5c216;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dedede;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #dedede;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: white;
	color: #f5c216;
}
.nav-pills .nav-link{
	border-radius: 0;
}
.media-body h5{
	font-size: 18px;
}
.media-body p{
	font-size: 12px;
}