@media screen and (min-width: 768px){
	.pc{
		display: block !important;
	}
	.sp{
		display: none;
	}
	.sp320{
		display: none;
	}
	#navbarNav{
		flex-direction: row;
		justify-content: flex-end;
	}
}
@media screen and (max-width: 768px){
	.pc{
		display: none;
	}
	.sp{
		display: block;
	}
	.sp320{
		display: none;
	}
	.container{
		padding: auto 0;
	}
	#navbarNav ul{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	#navbarNav ul li{
		width: 50%;
	}
}
@media screen and (max-width: 320px){
	.pc{
		display: none;
	}
	.sp{
		display: none;
	}
	.sp320{
		display: block;
	}
}
.img-logo{
	height: 145px;
}
header{
	font-family: sans-serif;
	font: 700 15px 'Open Sans';
	box-sizing: initial;

}
#header .navbar-light .navbar-nav .active>.nav-link{
	color: #f76d2b;
	border-bottom: 1px solid #f76d3b;
	display: inline-block;
	box-sizing: initial;
}
.custom-ddm{
	box-sizing: content-box;
}
.carousel-inner{
	position: relative;
}
.carousel-caption {
    top: 35px;
	bottom: 10px;
	padding-top: 0;
}
.carousel-caption p{
	font: 25px 'PT Sans',sans-serif;

}
.carousel-control-next,.carousel-control-prev{
	width: 3%;
}
.bg-orange{
	background-color: #f76d2b;
	font-weight: 700;
	padding: 3px 5px;
}
#search{
	box-sizing: border-box;
	background: #eee;
}
#b-featured{
	background: #eee;
}
#About-Us{
	background: #f76d3b;
}
.search{
	padding: 0px 1px;
}
.text-search{
	font-size: 14px;
}
.text-search-t{
	font-size: 30px;
	color: #f76d3b;
}
.text-search button {
	background: #333;
	color: #fff;
	padding: 2px 11px;
	border-radius: 20px;
}
.text-search button span {
	border-radius: 100%;
    padding: 6px 6px;
    width: 35px;
    margin-left: 20px;
    background: #f76d2b; 
    color: #fff;
}
.text-search button:hover{
	background: #f76d2b;

}
.text-search button:hover  span{
	background: white;
	color: #333;
}
.border-search{
	border-right: 1px solid #868e96;
}



#active-menu-l a {
	color: #f76d3b;
	border-left: 3px solid #f76d3b;
}
.text-menu-l{
	border-bottom: 1px solid #eee;
	padding: 10px 0;
}
.text-menu-r{
	border-left: 3px solid #eee;
	margin: 17px 0;
	line-height: 16px;
	padding: 0 15px;
	color: #555;
	font: 700 13px 'Open Sans',sans-serif;
	text-decoration: none;
}

.text-menu-r:hover{
	color: #f76d3b;
	border-left: 3px solid #f76d3b;
}

.text-menu-r{
	border-left: 3px solid #eee;
	margin: 17px 0;
	line-height: 16px;
	padding: 0 15px;
	color: #555;
	font: 700 13px 'Open Sans',sans-serif;
	text-decoration: none;
}
.text-menu-product{
	color: #868e96;
	font-size: 14px;
	text-decoration: none;
	padding-bottom: 5px;
}
.text-menu-product:hover {
	color: red;
	text-decoration: none;
	border-bottom: 1px solid #868e96;

}
.text-menu-product-active{
	color: #f76d3b;
	border-bottom: 1px solid #868e96;
}


.text-product{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	font-size: 13px;
	color: #444;
}

.text-product-price{
	background: #f76d3b;
	color: #fff;
	padding: 5px;
}
.product-span a{
	text-decoration: none;
	color: #555;
}
.product-span a:hover{
	text-decoration: none;
	color: #f76d3b;
}
.text-slider a {
	font-size: 19px;
	border-bottom: 2px solid red; 
	color: #333;
	text-decoration: none;
}
.text-product-bt{
	border-bottom: 1px solid red;
}
.product-item{
	padding-top: 10px;
	padding-bottom: 10px; 
}
.img-reponsive{
	max-width: 100%;
	height: auto;
	width: 100%;
}
.icon-about-us{
	height: auto;
	color: #fff;
}
.icon-about-us i{
	border: 1px solid white; 
	border-radius: 35px;
	font-size: 50px;
	padding: 10px;
}



footer{
	background: #333;
}

.footer-list__links a{
	font-size: 20px;
	 color: #f76d3b;
}
.footer-list__links span {
    font-family: 'Work Sans',Arial,sans-serif;
    font-size: 13px;
    line-height: 0.875em;
    letter-spacing: .3px;
    white-space: nowrap;
}
.footer-icon{
	font-size: 47px;

}
.site-footer__bottom{
	font-size: 13px;
}
.slider-banner{
	background: #fff;
	padding: 4px 8px;
	color: #333;
}
.slider-banner:hover {
	background: #f76d3b;
	color: white;
}
.slider-banner:hover .icon-slider{
	background: white;
	color: black;
}	
 .icon-slider {
    border-radius: 100%;
    padding: 6px;
    width: 35px;
    margin-left: 20px;
    background: #555; 
    color: #fff;
}


@media screen and (max-width: 767px){
	#search-menu-l{
			width: 100%;
			padding-left:   0px;
			
	}
	.footer-list__links{
		text-align: center;
	}
	.banner-t {
    display: none;
	}
	.text-search1{
	
	padding-right: 0;
	}
	.text-search{
	
	padding-right: 0;
	}
	.border-search{
	border-right: none;
	}
	.icon-about-us i{
	border: 1px solid white; 
	border-radius: 35px;
	font-size: 20px;
	padding: 10px;
	}
}	

.search-header {
	text-align: center;
}

.search-header span{
	background-color: #ff9867;
	color: #fff;
	display: inline-block;
	padding:10px 20px;
	border-radius: 3px;
	margin:20px 0;
	text-align: center;
}

@media (min-width: 768px) and (max-width: 992px){
	.text-help{
	font-size: 16px;
	text-decoration: none;
	}
}
@media screen and (max-width: 992px){
	#header .container{
	min-width: 100%;
	padding: 0;
	margin: 0;
	}

	.carousel-caption {
    top: 5px;
	bottom: 10px;
	padding-top: 0;
}